*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
}
/* header section style */
.first-header{
    background: url('../image/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 140px 120px 140px;
    text-align: center;
    padding: 160px;
    border-radius: 10px;
    background-position: bottom center;
}
.banner-title{
    color: #789de4;
    font-size: 22px;
    font-family:  'Merriweather', serif;
}
.banner-description{
    color: #351919;
    font-size: 42px;
    font-weight: 800;
    font-family: 'Merriweather', serif;
    padding: 20px 80px 0px 80px;
}
/* second banner style */
.second-banner{
    text-align: center;
}
.b2-h{
    color: #f00;
    font-size: 42px;
}
.b2-h3{
    font-size: 36px;
    padding: 20px 0 40px 0;
}
.b2-p{
    padding-top: 44px;
    font-weight: 800;
}
/* third banner style */
.third-banner{

    display: flex;
    background: url('../image/Vectorrr.png');
    background-size: contain;
    margin: 120px 140px 0 140px;
    background-repeat: no-repeat;
    border-radius: 10px;
    align-items: center;
    background-position: bottom center;
    
}
.b3-b{
    width: 60%;
    color: #fff;
    font-size: 45px;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    padding: 100px 0 20px 100px;
}
.b3-p{
    width: 70%;
    color: #fff;
    padding: 24px 0 20px 100px;
    font-size: 12px;
    font-family: 'Merriweather', serif;
}
.third-banner-img{
    padding: 50px 20px 0 10px;
    
}
.button3{
    margin: 5px 0 100px 80px;
    background: none;
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-weight: 800;
    font-size: 15px;
    border-style: none;
}
/* first section style */
.first-section{
    display: flex;
    margin: 120px 140px 0 140px;
}
.main-section-left{
    width: 29%;
}
 .main-section-right{
    width: 30%;
}
.m-p{
    font-family: 'Inter', sans-serif;
    color: #949393;
    font-weight: 400;
    padding: 25px 0 25px 0;
}
.main-section-left{
    padding-top: 50px;
    padding-right: 30px;
}
.main-section-right{
    padding-top: 50px;
    padding-left: 50px;
}
.main-section-right>img{
    padding-top: 20px;
}
.h4-m{ 
    color: #f00;
    font-weight: 800;
}
.h3-m{
    padding-top: 20px;
    font-size: 40px;
}
.h-m{
    font-size: 40px;
    color: #f00;
}
.main-section-img{
    width: 35%;
    border: 5px solid red;
    border-radius: 100%;
}
.main-section-img >img{
    padding: 20px;
}
/* second section style */
.second-section{
    padding: 120px 140px 0 140px ;
}
.second-text{
    width: 700px;
}
.second-h4{
    color: #f00;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    
}
.second-img{
    display: table;
    gap: 24px;
}
.second-h2{
    color: #000;
    font-family: Merriweather;
    font-size: 40px;
}
.img{
    float: left;
    width: 30%; 
    margin: 15px;
    border-radius: 10px;
    
}
.img >img{
    width: 322px;
    border-radius: 20px;
}
/* third section style */
.third-section{
    text-align: center;
    margin: 140PX;
}
.main-third{
    background: rgba(255, 0,0, 0.05);
    padding: 140px;
}
.main-third h2{
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-weight: 900;

}
#email{
    padding: 24px ;
    border: none;
    height: 15px;
    border-radius: 30px 0 0 30px ;
}
#subscribe{
    background-color: #f00;
    margin-left: -5px;
    padding: 18px ;
    font-size: 20px;
    border: none;
    font-weight: 700;
    border-radius: 0 30px 30px 0;
}
